{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="text-center">
                        <img src="{{ news.thumbnail.url }}" alt="{{ news.title }}" width="200"/>
                    </div>
                    {% for tag in news.tags.all %}
                        <a href="{% url 'news_by_tag' tag.pk %}" class="text-sm-center btn btn-outline-primary" >{{ tag }}</a>
                    {% endfor %}
                    <hr>
                    <h2 class="card-title">{{ news.title }}</h2>
                    <p class="card-text text-justify">{{news.body }}</p>
                    <p class="text-left">Просмотров: {{ news.views_count }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
